:root {
  --preto: #000000;
  --branco-puro: #ffffff;
  --cinza-asfalto: #1e1e1e;
  --cinza-medio: #4a4a4a;
  --bege-urbano: #d4cbbe;
  --vermelho-tijolo: #b23b3b;
  --verde-militar: #4a5a48;
  --dourado-fosco: #c8a951;
  :root {
    --fonte-principal: "Bebas Neue", sans-serif;
    --fonte-secundaria: "Anton", sans-serif;
  }
}
