.produtos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2em;
  font-family: var(--fonte-principal);
  letter-spacing: 1.5px;
  padding: 2rem 1rem;
}
